<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
    <div th:replace="~{layout :: nav-bar}"></div>

    <div class="main-wrapper">
        <form class="filter" method="get" th:action="@{/author/index}">
            <input type="text" placeholder=" Author Name..." name="fullName" th:value="${fullName}">
            <button type="submit" class="blue-button">Search</button>
        </form>
        <div class="create-container">
            <a th:href="@{/author/upsertForm}" class="create-button">
                <i class="fas fa-plus-circle"></i> Insert new Author</a>
        </div>
    <table>
        <thead>
        <tr>
            <th>Action</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Status</th>
            <th>Education</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${grid}" th:object="${row}">
            <td>
                <a th:href="@{/author/detail(id = *{id})}" class="books-button"><i class="fas fa-book"></i> Books</a>
                <a th:href="@{/author/upsertForm(id = *{id})}" class="edit-button"><i class="fas fa-edit"></i> Edit</a>
                <a th:href="@{/author/delete(id = *{id})}" class="delete-button"><i class="fas fa-eraser"></i> Delete</a>
            </td>
            <td th:text="*{fullName}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{status}"></td>
            <td th:text="*{education}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <div class="pagination">
                    <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                    <div th:if="${totalPages != 0}">
                        <a th:each="number : ${#numbers.sequence(1,totalPages)}"
                           th:text="${number}"
                           th:href="@{/author/index(page=${number},fullName=${fullName})}"></a>
                    </div>
                    <div th:unless="${totalPages != 0}">
                        Data not found!
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    </div>
<footer th:replace="~{layout :: footer}">
</footer>
    <script th:src="@{/resources/js/author/author.js}">
    </script>
</body>
</html>