<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<div th:replace="~{layout :: nav-bar}"></div>

<div class="main-wrapper">
        <h1>Winterhold Library</h1>
        <p> Knowledge is the best weapon you have, please find some fascinating books we have. This app will hel you do that, as long as you keep extend your membership! (its totally free!)</p>
    </div>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>