<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<div th:replace="~{layout :: nav-bar}"></div>

<div class="main-wrapper">
    <form class="filter" method="get" th:action="@{/loan/index}">
        <table class="detail-info">
            <tr>
                <td>
                    <label>Book Title</label>
                </td>
                <td>
                    <input type="text" placeholder=" Book Title.." name="bookTitle" th:value="${bookTitle}" >
                </td>
            </tr>

            <tr>
                <td>
                    <label>Customer Name</label>
                </td>
                <td>
                    <input type="text" placeholder=" Customer Name.." name="customerName" th:value="${customerName}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="due" th:chekced="true" ><label>Passed Due Date</label>
                </td>
                <td>
                    <button type="submit" class="blue-button">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
                <a href="javascript:;" class="create-button">New Loan</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Action</th>
            <th>Book Title</th>
            <th>Customer Name</th>
            <th>Loan Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${grid}" th:object="${row}">
            <td>
                <a href="javascript:;" th:attr="data-bookCode=*{bookCode},data-customerNumber=*{customerNumber}" class="books-button detail-button"><i class="fas fa-question-circle"></i> Detail</a>
                <a href="javascript:;" th:attr="data-id=*{id}" class="edit-button"><i class="fas fa-edit"></i> Edit</a>
                <a th:if="*{returnDate == null}" th:href="@{/loan/return(id=*{id})}" class="delete-button return-button"><i class="fas fa-hand-holding"></i> return</a>
            </td>
            <td th:text="*{bookTitle}"></td>
            <td th:text="*{customerName}"></td>
            <td th:text="*{loanDate}"></td>
            <td th:text="*{dueDate}"></td>
            <td th:text="*{returnDate}"></td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <div class="pagination">
                    <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                    <div th:if="${totalPages != 0}">
                        <a th:each="number : ${#numbers.sequence(1,totalPages)}"
                           th:text="${number}"
                           th:href="@{/loan/index(page=${number},customerName=${customerName},bookTitle=${bookTitle})}"></a>
                    </div>
                    <div th:unless="${totalPages != 0}">
                        Data not found!
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<footer th:replace="~{layout :: footer}">
</footer>
<div class="modal-layer">
    <th:block th:replace="~{loan/loan-popup-form :: formDialog}" ></th:block>
    <th:block th:replace="~{loan/loan-popup-detail :: detailDialog}" ></th:block>
</div>
<script th:src="@{/resources/js/loan/loan-popup.js}">
</script>
</body>
</html>